<div class="aboutusbox goleft">
    <h2>Poetry Train</h2>
    <p>
        <strong>Poetry Train</strong>
        <br>444 S. Church St #220
        <br>Princeton, Il 61356
        <br>Phone number 815-915-8332
    </p>

    <p>Bmi.com Repertoire#
        <br>POETRY TRAIN MUSIC
        <br>CAE/IPI #: 682938498
    </p>
</div>

<div class="aboutusbox goleft">
    Poetry Train is a member of
    <ul>
        <li><a href="http://americandialect.org/">American Dialect Society</a></li>
        <li><a href="http://historians.org/">American Historical Association</a></li>
        <li><a href="http://oah.org/">Organization of American Historians</a></li>
        <li><a href="http://www.poets.org/">Poets.org</a></li>
        <li><a href="http://harryfox.com/">The Harry Fox Agency</a></li>
    </ul>
    and an at-large member of:
    <ul>
        <li><a href="http://www.nrhs.com/">National Railway Historical Society</a></li>
        <li><a href="http://railroadheritage.org/">railroadheritage.org</a></li>
        <li><a href="https://scout.wisc.edu/">Internet Scout</a></li>
    </ul>
</div>

<div class="aboutusbox clearboth linksbox">
    <h2>Links</h2>
    <p>
        <br><a href="http://www.loc.gov/index.html">Library of Congress</a>
        <br><a href="http://schoolofpoetry.yuku.com/topic/91/The-Poets-Briefcase#.UKurH4bZ1cJ">The Poets Briefcase</a>
    </p>
</div>

<div class="aboutusbox clearboth linksbox">
    <h2>Credits</h2>
    <table>
        <tr>
            <td style="min-width:250px;"><strong>John E. Wordslinger</strong></td>
            <td>Conductor/founder O'OWS The Electric Owl</td>
        </tr>
        <tr>
            <td style="min-width:250px;"><strong>Dustin van Schouwen</strong></td>
            <td>Engineer Apha1 Lion Boy Coder, Made the website</td>
        </tr>
        <tr>
            <td style="min-width:250px;"><strong>Corina Pelloni</strong></td>
            <td>Support Engineer Beta 2</td>
        </tr>
    </table>
</div>


