<div class="header">
    <a ui-sref="/">
        <div class="pagetitle"><img src="/logonew.png" title="poetry train"><h3>poetry train</h3></div>
    </a>

    <div class="userbox">
        <div ng-if="user">
            logged in as 
            <a ui-sref="user({userId: user.id })">
                {{ user.email }}
            </a> ( {{ user.safename }} ) &bull;
            <a ui-sref="profile">edit user info</a>
            <div class="linkbox">
                <a ui-sref="newpoem">post new poem</a>
                
                &bull; <a ng-click="logoutuser()">log out</a>
            </div>
        </div>
        <div class="loginbox" ng-show="!user" ng-cloak>
          <%= render :partial => "shared/login" %>
        </div>
    </div>

    <div class="otherlinks">
        <a href="http://schoolofpoetry.yuku.com" target="_new">
            <img src="/schoolhouse.jpg" title="The Poets Briefcase">
        </a>
        <a href="http://livraison.us/" target="_new">
            <img src="http://livraison.us/wp-content/uploads/2014/10/Livraison-LOGO-Horizontal.jpg" title="livraison">
        </a>
    </div>
    <div class="socmed">
        <a href="http://www.facebook.com/poetrytrain" target="_new">
            <img src="/sm/facebook_32.png">
        </a>
        <a href="http://www.twitter.com/poetrytrain" target="_new">
            <img src="/sm/twitter_32.png">
        </a>
        <a href="http://www.youtube.com/user/poetryetrain" target="_new">
            <img src="/sm/youtube_32.png">
        </a>
    </div>
</div>

