<div ng-if="!users.length && !subs.length">
    <h1>Looks like nothing has ever been tagged "{{ tag }}".</h1>
</div>

<div ng-if="users.length || subs.length">
    <h1>Poems tagged "{{ tag }}":</h1>
    <div ng-if="subs && subs.length" ng-include="'/template/subs/box.html'" ng-repeat="sub in subs"></div>

    <p ng-if="!subs || !subs.length">
      <em>No poems have been tagged "{{ tag }}".</em>
    </p>

    <h1>Users tagged "{{ tag }}":</h1>
    <div ng-if="users && users.length" ng-include="'/template/user/mini.html'" ng-repeat="user in users"></div>

    <p ng-if="!users || !users.length">
      <em>No users have been tagged "{{ tag }}".</em>
    </p>

</div>
