<div ng-include="'/partial/headerboxes'">
</div>

<div class="headermenu nicegrad">
    <a ui-sref="/">
		poems
	</a>
    <a ui-sref="users">
		members
	</a>
    <a ui-sref="tv">
		tv
	</a>
    <a ui-sref="chat">
		chat
	</a>  
    <a ui-sref="tags">
		tags
	</a>  
    <a ui-sref="about">
		about
	</a>  
    <a ui-sref="links">
		links
	</a>  
    <a href="/forum" target="_new">
		forums
	</a>  
</div>
