<!doctype html>
<html>
    <head>
        <%= stylesheet_link_tag "application" %>
    </head>
    <body>
        <div class="blankhtml">
            <h1>Poetry Train</h1>
            <div class="blankhtmlcont">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
